body{
    margin: 0px;
}
body *{
    margin: 0px;
}

#banner{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    color:red;
}

#nav{
    display: inline;
}