body{
    margin: 0px;
}
body *{
    margin: 0px;
}

#banner{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    color:red;
}

#nav{
    width: 50%;
    background-color: blue;
    float: right;
}

#nav li{
    display: inline;
}